<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert ="~{admin/template_admin::head}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div th:insert ="~{admin/template_admin::header}"></div>
    
    <div class="container mt-5">
        <h2>Productos en la Categoría</h2>
        <div class="row">
            <div class="col-md-4" th:each="product : ${products}">
                <div class="card mb-4 shadow-sm">
                    <img th:src="${product.imageUrl}" class="card-img-top" alt="Imagen de ${product.name}" 
                         th:onclick="'showProductDetails(' + ${product.id} + ')'">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.name}">Nombre del Producto</h5>
                        <p class="card-text">
                            Precio: <span th:text="${product.price}">S/. 0.00</span>
                        </p>
                        <button class="btn btn-primary" th:onclick="'addToCart(' + ${product.id} + ')'">Agregar al Carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para mostrar detalles del producto -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Detalles del Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="modalProductImage" src="" alt="Imagen del Producto" class="img-fluid mb-3">
                    <h5 id="modalProductName">Nombre del Producto</h5>
                    <p id="modalProductPrice">Precio: S/. 0.00</p>
                    <p id="modalProductDescription">Descripción del producto aquí...</p>
                    <button id="modalAddToCart" class="btn btn-primary">Agregar al Carrito</button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer" th:insert ="~{admin/template_admin::footer}"></div>

   
</body>
</html>
